.albumContainer {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%; /* Ensure the container fills the entire viewport height */
  width: 100%;
}

.icon {
  color: white; /* Adjust the color of the icon */
  font-size: 28px;
  margin-top: 1%;
  margin-left: 1%;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.albumInfo {
  color: white;
  word-wrap: break-word; /* Wrap long words in paragraph */
  margin: 0 15%;
  margin-top: 5%;
}

.Image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: auto; /* Allow horizontal scrolling */
  height: auto; /* Allow flexible height based on content */
  margin: 7% 0; /* Adjust margin for better positioning */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.Image-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

