.page {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.page-child {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.desc {
  color: white;
  /* display: inline-block;            */
  /* margin: 0 auto; */
}

.find-me-input {
  left: 40%;
  position: relative;
  color: white;
  padding-top: 10px;
}
