.page {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.page-child {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.desc {
  color: white;
  /* display: inline-block;            */
  /* margin: 0 auto; */
}

.find-me-input {
  left: 30%;
  position: relative;
  color: white;
  padding-top: 30px;
}

.pics-found-text {
  font-size: 30px; /* text-4xl */
  font-weight: 600; /* font-semibold */
  font-family: 'Bebas Neue', sans-serif;
  color: #fd5e53;
}

.detection-results {
  position: relative;
}

.upload-bttn {
  background-color: white;
  width: 200px;
  height: 40px;
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 50px;
  left: 30%;
  border-radius: 99px;
}

.name-header {
  display: flex;
}

.loader {
  position: relative;
  padding-top: 100px;
  left: 45%;
}

/* FindMe.css */
.modal {
  font-family: Arial, sans-serif;
  background: #3a3a3a62;
  border-radius: 5px;
  height: 200px;
  width: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  font-size: 14px;
  margin-bottom: 20px;
}

.actions {
  display: flex;
  /* justify-content: flex-end; */
}

.actions .button {
  /* padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px; */
}

.actions .button:hover {
  background-color: #eee;
}

.page-header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.guidelines {
  font-size: 20px; /* text-4xl */
  font-weight: 200; /* font-semibold */
  font-family: 'Bebas Neue', sans-serif;
  color: #fd5e53;
  text-align: center;
  padding-top: 20px;
}

.non-detection-hit {
  text-align: center;
}

.nonpics-found-text {
  font-size: 30px; /* text-4xl */
  font-weight: 600; /* font-semibold */
  font-family: 'Bebas Neue', sans-serif;
  color: #fd5e53;
}

.page-child-results {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 12px;
}
.rightSide-results {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns */
  grid-gap: 10px; /* Space between items */
  box-sizing: border-box; /* Ensure padding is included in width */
  overflow-y: scroll; /* Enable vertical scrolling */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
  margin: 0 auto;
  margin-top: 10px;
}

.picContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picImage {
  width: 100%;
  padding-top: 100%; /* Aspect ratio 1:1 */
  background-size: cover;
  background-position: center;
  position: relative;
  transition: transform 0.3s; /* duration-300 */
}

.false-postive-container {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  border-radius: 99px;
  padding-bottom: 10px;
  color: #e4c31b;
}

.message-container {
  display: flex;
  flex-direction: column;
}

.fp-options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.no-bttn {
  padding: 5px;
  border-radius: 99px;
  width: 40px;

  font-weight: bolder;
}

.yes-bttn {
  padding: 5px;
  color: white;
  border-radius: 99px;
  width: 50px;

  font-weight: bolder;
}
