.page {
  color: white;
}

.page-content {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.left-side {
}

.admin-options {
  padding-top: 10px;
}

.option {
  padding-top: 5px;
}
