.nyc-container {
  display: flex;
  flex-direction: column; 
  background-color: rgba(0, 0, 0, 0.6);
}

.icon {
  color: white; /* Adjust the color of the icon */
  font-size: 28px;
  margin-top: 1%;
  margin-left: 1%;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; 
}

.albumInfo{
  color: white;
  word-wrap: break-word; /* Wrap long words in paragraph */
  margin: 0 15%;
  margin-top: 5%;
}

.Image-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Make it fill the entire viewport height */
  margin-top: -10%;
}