@import url('https://fonts.googleapis.com/css2?family=Meow+Script&display=swap');
/* #ff7f50, #fd5e53, #f94e63, #d2386c */

.dedicationPage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.dedicationPageContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

/* Letter Section */

.dedicationLetterContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    margin-right: 5%;
    animation: fadeIn 1.5s ease-out;
}

.dedicationLetter {
    height: 70%;
    width: 550px;
    font-family: 'Georgia', serif;
    font-size: 19px;
    color: white;
    border-radius: 8px;
    line-height: 1.6;
    overflow-y: scroll;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    position: relative;
}

.dedicationLetter::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.dedicationLetter p {
    margin-bottom: 1em;
}

.dedicationLetterHeader {
    color: #f94e63;
    font-size: 40px;
    font-family: "Bebas Neue", sans-serif;
    margin-bottom: 5%;
}

.dedicationLetter p:last-child {
    margin-bottom: 0;
}

.signatureText {
    font-family: "Meow Script", cursive;
    font-size: 44px;
    margin-top: 10px;
    display: inline-block;
    color: #f94e63;
}

/* Video Section */

.dedicationVideoContainer{
    height: 78%;
    width: 450px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background-color: blue; */
}

.dedicationVideo{
    background-color: #333;
    width: 100%;
    height: 95%;
}


.dedicationVideoCredit{
    color: #f94e63;
    font-family: "Bebas Neue", sans-serif;
    margin-top: 2%;
    animation: fadeIn 1.5s ease-out;
}



/* VideoCredit Section */

.videoCreditContainer {
    display: flex;
    flex-direction: row;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.videoCreditHeader{
    color: #f94e63;
    font-size: 35px;
    font-family: "Bebas Neue", sans-serif;
    margin-bottom: 3%;
}

.videoCreator {
    width: 180px;
    height: 180px;
    background-size: cover; 
    background-position: center; 
}

.videoCreatorInfo {
    height: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.videoCreatorLine{
    position: absolute;
    width: 5%;
    height: 2px;
    background-color: #d2386c;
}

.videoCreatorName {
    font-size: 27px; /* text-4xl */
    font-weight: 600; /* font-semibold */
    font-family: "Bebas Neue", sans-serif;
    color: white;
    position: relative;
    margin-bottom: 2%;
    /* margin-top: 2%; */
}


.videoCreditText {
    font-family: 'Georgia', serif;
    font-size: 15px;
    color: white;
}

.videoCreatorLineSocialsBox {
    display: flex;
    gap: 25px;
    margin-top: 2%;
}

.videoCreatorLineSocialMedia {
    transition: all 0.3s ease; /* transition-all */
    color: #f94e63;
}

.videoCreatorLineSocialMedia:hover {
    transform: scale(0.85);
}
