.form {
    display: flex;
    flex-direction: column;
    margin: 10% 5%;
    max-height: 80%; /* Adjust the maximum height as needed */
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
  }
  
  /* Hide scrollbar for WebKit browsers */
  .form::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for other browsers */
  .form {
    scrollbar-width: none;
  }
  
  .formNames{
    font-size: 18px; /* text-4xl */
    font-weight: 600;  /* font-semibold */
    margin-bottom: 2%;
  }
  
  .formInput{
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    margin-bottom: 4%;
    color: white;
  }

  .formInput:focus {
    border-color: #fd5e53; /* Change border color on focus */
  }

  .submit{
    background-color: white;
    color: black;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10%;
    transition: all 0.3s ease; /* transition-all */
  }
  
  .submit:hover {
    background-color: #fd5e53;
    transform: scale(0.95); /* active:scale-95 */
  }
  
  .error {
    color: red;
    margin-top: 5px;
  }



  /* #ff7f50, #fd5e53, #f94e63, #d2386c */