.downloadsPage{
    height: 100vh;
    display: flex;
    padding: 3%;
    
}

.leftSide{
    text-align: center; 
    width: 30%;
    /* background-color: grey; */
}

.downloadHeader{
    font-size: 60px; /* text-4xl */
    font-weight: 600;  /* font-semibold */
    font-family: "Bebas Neue", sans-serif;
    margin: 0 auto;
    /* margin-left: 33%; */
    color: #fd5e53;
}

.downloadDesc {
    color: white;
    display: inline-block;           /* Ensure it is a block element */
    margin: 0 auto;
    
}

.box{
    
    width: 80%;
    height: 70%;
    margin: 5% auto;
}


.selectedImage {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}


.picBox{
    background-size: cover;
    background-position: center;
    height: auto; /* adjust as needed */
    width: 100px; /* adjust as needed */
    background-position: center center;
}




.rightSide {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    grid-gap: 10px;         /* Space between items */
    padding: 10px;
    box-sizing: border-box; /* Ensure padding is included in width */
    overflow-y: scroll;     /* Enable vertical scrolling */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
    margin: 0 auto;
}

.rightSide::-webkit-scrollbar {
    display: none;  /* Hide scrollbar for Chrome, Safari, and Opera */
}

.picContainer {
    position: relative;
    height: 250px;
    width: 250px;
    overflow: hidden;
    background-color: #e2e2e2; /* bg-neutral-200 */
}

.picImage {
    position: absolute;
    inset: 0;
    z-index: 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s; /* duration-300 */
}

.picContainer:hover .picImage {
    transform: scale(1.1); /* group-hover:scale-110 */
}

.dropdown {
    margin-top: 1%;     /* Adjust spacing as needed */
}

.dropdown select {
    padding: 10px;           /* Padding inside the dropdown */
    font-size: 16px;         /* Adjust font size as needed */
    width: 100%;             /* Full width */
    border: 1px solid #ccc;  /* Optional: Border for dropdown */
    background-color: #fff;  /* Optional: Background color for dropdown */
    color: #333;             /* Optional: Text color for dropdown */
    transition: border-color 0.3s, background-color 0.3s; /* Transition for smooth effect */
}

.dropdown select:focus {
    outline: none;           /* Remove default outline */
    border-color: #fd5e53;   /* Border color when focused */
    background-color: #f0f0f0; /* Background color when focused */
}
