.image-row {
    display: flex;
    flex-direction: row;
    gap: 10px; /* Adjust the gap between thumbnails */
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent line breaks */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  }
  
  .image-row::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
  }
  
  .thumbnail {
    height: 275px; 
    width: auto;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .thumbnail:hover{
    transform: scale(0.93);
  }
  
  .first-thumbnail {
    margin-left: 20px; /* Adjust the left margin for the first image */
  }
  
  .last-thumbnail {
    margin-right: 20px; /* Adjust the right margin for the last image */
  }
  

  /* Modal */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  /* z-index: 1000; */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent background */
}

/* Modal content */
.modal-content {
  position: relative;
}

/* Close button */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #888;
}

.close:hover {
  color: #000;
}

/* Modal image */
.modal-image {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto; /* Center the image */
  padding: 20px; /* Add padding around the image */
}



.selectedPicture {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}

.selectedPicture.landscape {
  max-width: 90%;
}

.selectedPicture.portrait {
  max-height: 89vh;
}

.popUpPic{
  display: flex;
  width: 60%;
  height: 90%;
  /* background-color: red; */
  justify-content: center;
  align-items: center;
}